@import '../utils/_mixins.scss';

.main {
  height: 780px;
  padding-top: 40px;
}

.bg-dark {
  background-color: #12002b;
}
.signInButton {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
}

.signInContent {
  box-sizing: border-box;
  background-color: white;
  width: 300px;

  margin: 3rem auto 0;
  margin-top: 10px;
  padding-top: 3rem;
  padding: 2rem;
}

.signInIcon {
  font-size: 2rem;
}

.inputRemember {
  display: flex;
}
label {
  margin-left: 0.25rem;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 1rem;
}

.inputWrapper label {
  font-weight: bold;
}

.inputWrapper input {
  padding: 5px;
  font-size: 1.2rem;
}
