@import '../utils/_mixins.scss';

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  background-color: #fff;
  width: 80%;
  margin: 0 auto;
  flex-direction: column;
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  margin-bottom: 2rem;
  @include min720 {
    flex-direction: row;
  }
}

.account-amount {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
}

.account-amount-description {
  margin: 0;
}

.account-title {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: normal;
}

.account-content-wrapper {
  width: 100%;
  flex: 1;
  @include min720 {
    flex: 0;
  }
  .cta {
    @include min720 {
      flex: 0;
    }
  }
}

.edit-button {
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  font-weight: bold;
  padding: 10px;
}
.button-size {
  width: 130px;
}
.save {
  padding-right: 15px;
}
.cancel {
  margin-left: 15px;
}
.buttons {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.header {
  color: #fff;
  margin-bottom: 2rem;
}

.main {
  flex: 1;
}
.transaction-button {
  display: block;
  width: 100%;
  padding: 8px;
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
  border-color: #00bc77;
  background-color: #00bc77;
  color: #fff;
  @include min720 {
    width: 200px;
  }
}
.divInput {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  width: 370px;
}
.prenom,
.nom {
  height: 30px;
}
